<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <title>MobiliStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height: 100%; min-height: 100%; position:relative;">
  	<%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
